/* GENERIC SELECTORS */

body {
	background-color: lightgrey;
}

h1 {
	color: #785616;
	padding: 0;
	margin: 0 0 10px;
}

ul {
	width: 800px;
	padding: 0 5px;
	list-style: none;
}

li {
	margin: 10px 0;	
	display: inline;
}

td {
	padding: 5px;
}

p {
	margin: 10px 0 8px;
}




/* CLASS SELECTORS */

.wrapper {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 5px 5px #bbbbbb;
	width: 900px;
	margin: 30px auto;
	padding: 20px 10px 20px 20px;
	overflow: hidden;
}

.content_nav {
	background-color: #FFB4B0;
	box-shadow: 0 0 5px 5px #bbbbbb;
	border-radius: 5px;
	width: 882px;
	padding: 1px 0 1px 10px;
	margin: 0 0 20px;
}

.content_options {
	background-color:#4DD7FA;
	box-shadow: 0 0 5px 5px #bbbbbb;
	border-radius: 5px;
	width: 200px;
	height: 425px;
	margin: 0 10px 0 0;
	padding: 10px 0 0 25px;
	float: left;
}

.content_playlist {
	background-color: #FEFAC0;
	box-shadow: 0 0 5px 5px #bbbbbb;
	border-radius: 5px;
	width: 622px;
	height: 425px;
	margin: 0 0 0 10px;
	padding: 10px 0 0 25px;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
}

.song_options {
	padding: 0 0 10px;
	margin: 10px auto 0;
	width: 100%;
}

.song_options li {
	padding: 0 10px 10px;
}

.filter_button {
	background-color: lightgrey;
	padding: 10px 50px;
	border: 2px solid #999999;
	border-radius: 8px;
	margin: 10px 0 0 30px;
	display: inline-block;
	
}

.choice_box {
	height: 25px;
	font-size: 0.85em;
	margin: 5px 0;
}




/* ID SELECTORS */

#genre_name {
	margin: 15px auto 10px;
}

